mcpppp.properties
mcpppp-config.json
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.css
*.bat
*.tmp*
\!filesize.exe
\!bumpversion.exe
files.txt
mcpppp-log.txt
desktop.ini

mcpppp-temp/
Debug/
x64/
x64-Debug/