src/main/resources/libmcpppp.dylib filter=lfs diff=lfs merge=lfs -text
src/main/resources/libmcpppp.so filter=lfs diff=lfs merge=lfs -text
src/main/resources/mcpppp.dll filter=lfs diff=lfs merge=lfs -text
