name: Compile Linux

on:
  push:
    branches:
    - master
    paths:
    - 'MCPPPP-windows.exe'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: setup jdk
      uses: actions/setup-java@v1
      with:
        java-version: 16
    - name: configure cmake
      run: cmake -B build -DMCPPPP_CLI=TRUE -DMCPPPP_GUI=TRUE -DMCPPPP_JNI=TRUE
    - name: build cmake
      run: cmake --build build --config Release
    - name: copy files
      run: rm bin/*linux* && cp build/bin/* bin/
    - name: rename files
      run: mv bin/MCPPPP-gui bin/MCPPPP-linux-gui && mv bin/MCPPPP-cli bin/MCPPPP-linux
    - uses: EndBug/add-and-commit@v7
      with:
        add: '["bin/MCPPPP-linux", "bin/MCPPPP-linux-gui", "bin/libmcpppp.so"]'
        message: 'add linux binaries'
        push: true
