name: Compile Mac

on:
  push:
    branches:
    - master
    paths:
    - 'MCPPPP-linux'
  workflow_run:
    workflows:
    - Compile Linux
    types:
    - requested
    branches:
    - master

  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: cli
      run: clang++ Source.cpp -std=c++20 -Ofast -o bin/MCPPPP-mac-cli && chmod +x bin/MCPPPP-mac-cli && tar -cvzf bin/MCPPPP-mac-cli.tar.gz bin/MCPPPP-mac-cli
    - name: gui
      run: clang++ -I./ -DGUI -D_LARGEFILE_SOURCE -D_THREAD_SAFE -D_REENTRANT Source.cpp lib/libfltk-mac.a -lpthread -framework Cocoa -Ofast -std=c++20 -o bin/MCPPPP-mac && chmod +x bin/MCPPPP-mac && tar -cvzf bin/MCPPPP-mac.tar.gz bin/MCPPPP-mac
    - uses: EndBug/add-and-commit@v7
      with:
        add: '["bin/MCPPPP-mac-cli.tar.gz", "bin/MCPPPP-mac.tar.gz"]'
        message: 'add mac binary'
        push: true