name: Compile Linux JNI Library

on:
  push:
    branches:
    - master
    paths:
    - 'MCPPPP-mac.tar.gz'
  workflow_run:
    workflows:
    - Compile Mac
    types:
    - requested
    branches:
    - master

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: setup jdk
      uses: actions/setup-java@v1
      with:
        java-version: 16
    - name: compile
      run: clang++ -shared -fPIC -std=c++20 -Ofast jni.cpp -o bin/libmcpppp.so -I$JAVA_HOME/include -I$JAVA_HOME/include/linux
    - uses: EndBug/add-and-commit@v7
      with:
        add: 'bin/libmcpppp.so'
        message: 'add linux jni library'
        push: true
